/.vscode
/cobolBird.cbl
/cobolBird.idy
/cobolBird.int
/cobolfiletest copy.cbl
/cobolfiletest copy.idy
/cobolfiletest copy.int
/cobolfiletest.cbl
/cobolfiletest.idy
/cobolfiletest.int
/cobolfilm.cbl
/cobolfilm.idy
/cobolfilm.int
/cobolname.cbl
/cobolname.idy
/cobolname.int
/cobolnewtest.cbl
/cobolnewtest.idy
/cobolnewtest.int
/cobolnum.cbl
/cobolnum.idy
/cobolnum.int
/coboltest$.cbl
/coboltest$.idy
/coboltest$.int
/COBOLTEST5.cbl
/COBOLTEST5.idy
/COBOLTEST5.int
/coboltest7.cbl
/coboltest7.idy
/coboltest7.int
/coboltypedef.cbl
/coboltypedef.idy
/coboltypedef.int
/filme.dat
/temp.dat
/test2COBOL.cbl
/test2COBOL.idy
/test2COBOL.int
/testCOBOL3.cbl
/testCOBOL3.idy
/testCOBOL3.int
/testprogramm.cbl
/testprogramm.idy
/testprogramm.int